### PYTHON BASICS

In [1]:
4%2

0

In [2]:
1+2

3

In [3]:
4/2

2.0

In [4]:
5//2

2

In [5]:
5/2

2.5

In [6]:
#BODMAS----
5+3*2

11

In [7]:
type(4/2)

float

In [8]:
type('rahul')

str

In [9]:
True

True

In [10]:
#boolean operation
True or False

True

In [11]:
type(True)

bool

In [12]:
#bit operators
True or False

True

In [13]:
#logical operator
True | False

True

In [14]:
a=10
b=20
a+b>30 or a-b<10

True

In [16]:
## strings
## never use reserve keywords(int,float,str...),otherwise you will get error
type('rahul')

str

In [17]:
str1='a good boy'
str2 ='a bad boy'

In [18]:
print(str1)
print(str2)

a good boy
a bad boy

In [19]:
str1+str2

'a good boya bad boy'

In [20]:
str1+' '+str2

'a good boy a bad boy'

In [21]:
name=input('enter a name')
print(name)

enter a namerahul
rahul

In [23]:
## ADD TWO NUMBERS
a= input('enter number 1?')
b= input('enter number 2?')
c=a+b
print("the output is",c)

enter number 1?23
enter number 2?34
the output is 2334

## here you see it is treated as strings, we have to use type casting

In [24]:
## ADD TWO NUMBERS
a= float(input('enter number 1?'))
b= float(input('enter number 2?'))
c=a+b
print("the output is",c)

enter number 1?23
enter number 2?34
the output is 57.0

In [25]:
## string formating
first_name=input('what is your first name')
last_name=input('what is your last name')
print('my first name is {} and last name is {}'.format(first_name,last_name))

what is your first namerahul
what is your last namekumar
my first name is rahul and last name is kumar

In [26]:
## string formating-------BEST APPROACH
first_name=input('what is your first name')
last_name=input('what is your last name')
print('my first name is {firstname} and last name is {lastname}'.format(lastname=last_name,firstname=first_name))

what is your first namerahul
what is your last namekumar
my first name is rahul  and last name is kumar

### VARIABLE DYNAMIC TYPING

In [27]:
a=10
type(a)

int

In [28]:
a=10.0
type(a)

float

In [29]:
#strong typing
1 + 'krish'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [31]:
str("1")+'rahul'

'1rahul'

### CONDITIONAL STATEMENTS

In [35]:
### if and elseif
a=int(input('enter the number 1?'))
b=int(input('enter the number 2?'))
c=a-b
print('the output is',c)
if c<0:
    print('the number is negative')
elif c>40:
    print('the diff is huge')
else:
    print('the number is positive')

enter the number 1?23
enter the number 2?26
the output is -3
the number is negative

### DATA STRUCTURES

1. list
2. tuple
3. strings
4. dictionary
5. sets

In [36]:
lst=[1,2,'rahul','kumar']

###

In [37]:
lst[3]

'kumar'

In [38]:
type(lst)

list

In [40]:
lst.append('ineuron')

In [41]:
print(lst)

[1, 2, 'rahul', 'kumar', 'ineuron']

In [44]:
lst[2]='data science'
print(lst)

[1, 2, 'data science', 'kumar', 'ineuron']

In [45]:
# indexing
str1='rahul'
str1

'rahul'

In [47]:
str1='rahul'
str1[3]="i"

TypeError: 'str' object does not support item assignment

In [48]:
str1='rahul'
str1[3]

'u'

## why string ARE IMMUTABLE...beacuse cannot change the item whereas list we can change the item